.tituloPrincipal{

    height: 20vh;
}
body{
    background-color: rgb(216, 196, 233);
 height: auto;
}

header{
    padding: 3%;
background-color: rgb(168, 230, 243);

}


main{
    text-align: center;
    padding: 6%;
 
}

Footer{
    padding: 1%;
    background-color: rgba(235, 235, 222, 0.985);

width: 100%;
 height:20%;
position: absolute;
bottom: 0%;
}
.container{
    display: flex;

}
.div-2{
    margin-left: 20%;
}